In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn import metrics

In [2]:
train_data = pd.read_csv('./train.csv')
test_data = pd.read_csv('./test.csv')

In [3]:
print('查看数据信息：列名、非空个数、类型等')
print(train_data.info())
print('-'*30)
print('查看数据摘要')
print(train_data.describe())
print('-'*30)
print('查看离散数据分布')
print(train_data.describe(include=['O']))
print('-'*30)
print('查看前5条数据')
print(train_data.head())
print('-'*30)
print('查看后5条数据')
print(train_data.tail())

查看数据信息：列名、非空个数、类型等
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
------------------------------
查看数据摘要
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
------------------------------
查看离散数据分布
                            Name   Sex Ticket Cabin Embarked
count                        891   891    891   204      889
unique                       891     2    681   147        3
top     Risien, Mr. Samuel Beard  male   1601    G6        S
freq                           1   577      7     4      644
------------------------------
查看前5条数据
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
------------------------------
查看后5条数据
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [4]:
# 使用平均年龄来填充年龄中的nan值
train_data['Age'].fillna(train_data['Age'].mean(), inplace=True)
test_data['Age'].fillna(test_data['Age'].mean(),inplace=True)
# 使用票价的均值填充票价中的nan值
train_data['Fare'].fillna(train_data['Fare'].mean(), inplace=True)
test_data['Fare'].fillna(test_data['Fare'].mean(),inplace=True)

In [5]:
print(train_data['Embarked'].value_counts())

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [6]:
# 使用登录最多的港口来填充登录港口的nan值
train_data['Embarked'].fillna('S', inplace=True)
test_data['Embarked'].fillna('S',inplace=True)

In [7]:
# 特征选择
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
train_features = train_data[features]
train_labels = train_data['Survived']
test_features = test_data[features]
print('特征值')
print(train_features)

特征值
     Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0         3    male  22.000000      1      0    7.2500        S
1         1  female  38.000000      1      0   71.2833        C
2         3  female  26.000000      0      0    7.9250        S
3         1  female  35.000000      1      0   53.1000        S
4         3    male  35.000000      0      0    8.0500        S
5         3    male  29.699118      0      0    8.4583        Q
6         1    male  54.000000      0      0   51.8625        S
7         3    male   2.000000      3      1   21.0750        S
8         3  female  27.000000      0      2   11.1333        S
9         2  female  14.000000      1      0   30.0708        C
10        3  female   4.000000      1      1   16.7000        S
11        1  female  58.000000      0      0   26.5500        S
12        3    male  20.000000      0      0    8.0500        S
13        3    male  39.000000      1      5   31.2750        S
14        3  female  14.000000      0      0    7.8542        S
15        2  female  55.000000      0      0   16.0000        S
16        3    male   2.000000      4      1   29.1250        Q
17        2    male  29.699118      0      0   13.0000        S
18        3  female  31.000000      1      0   18.0000        S
19        3  female  29.699118      0      0    7.2250        C
20        2    male  35.000000      0      0   26.0000        S
21        2    male  34.000000      0      0   13.0000        S
22        3  female  15.000000      0      0    8.0292        Q
23        1    male  28.000000      0      0   35.5000        S
24        3  female   8.000000      3      1   21.0750        S
25        3  female  38.000000      1      5   31.3875        S
26        3    male  29.699118      0      0    7.2250        C
27        1    male  19.000000      3      2  263.0000        S
28        3  female  29.699118      0      0    7.8792        Q
29        3    male  29.699118      0      0    7.8958        S
..      ...     ...        ...    ...    ...       ...      ...
861       2    male  21.000000      1      0   11.5000        S
862       1  female  48.000000      0      0   25.9292        S
863       3  female  29.699118      8      2   69.5500        S
864       2    male  24.000000      0      0   13.0000        S
865       2  female  42.000000      0      0   13.0000        S
866       2  female  27.000000      1      0   13.8583        C
867       1    male  31.000000      0      0   50.4958        S
868       3    male  29.699118      0      0    9.5000        S
869       3    male   4.000000      1      1   11.1333        S
870       3    male  26.000000      0      0    7.8958        S
871       1  female  47.000000      1      1   52.5542        S
872       1    male  33.000000      0      0    5.0000        S
873       3    male  47.000000      0      0    9.0000        S
874       2  female  28.000000      1      0   24.0000        C
875       3  female  15.000000      0      0    7.2250        C
876       3    male  20.000000      0      0    9.8458        S
877       3    male  19.000000      0      0    7.8958        S
878       3    male  29.699118      0      0    7.8958        S
879       1  female  56.000000      0      1   83.1583        C
880       2  female  25.000000      0      1   26.0000        S
881       3    male  33.000000      0      0    7.8958        S
882       3  female  22.000000      0      0   10.5167        S
883       2    male  28.000000      0      0   10.5000        S
884       3    male  25.000000      0      0    7.0500        S
885       3  female  39.000000      0      5   29.1250        Q
886       2    male  27.000000      0      0   13.0000        S
887       1  female  19.000000      0      0   30.0000        S
888       3  female  29.699118      1      2   23.4500        S
889       1    male  26.000000      0      0   30.0000        C
890       3    male  32.000000      0      0    7.7500        Q

[891 rows x 7 columns]

In [8]:
dvec=DictVectorizer(sparse=False)
train_features=dvec.fit_transform(train_features.to_dict(orient='record'))
print(dvec.feature_names_)
test_features=dvec.transform(test_features.to_dict(orient='record'))

['Age', 'Embarked=C', 'Embarked=Q', 'Embarked=S', 'Fare', 'Parch', 'Pclass', 'Sex=female', 'Sex=male', 'SibSp']

## 使用TPOT方法

In [9]:
from tpot import TPOTClassifier

In [10]:
tpot = TPOTClassifier(generations=5, population_size=20, verbosity=2)
tpot.fit(train_features, train_labels)

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=120, style=ProgressStyle(descript…

Generation 1 - Current best internal CV score: 0.83504910122644
Generation 2 - Current best internal CV score: 0.83504910122644
Generation 3 - Current best internal CV score: 0.83504910122644
Generation 4 - Current best internal CV score: 0.8384200295979802
Generation 5 - Current best internal CV score: 0.8384200295979802

Best pipeline: XGBClassifier(input_matrix, learning_rate=0.1, max_depth=7, min_child_weight=3, n_estimators=100, nthread=1, subsample=0.7000000000000001)

TPOTClassifier(config_dict=None, crossover_rate=0.1, cv=5,
        disable_update_check=False, early_stop=None, generations=5,
        max_eval_time_mins=5, max_time_mins=None, memory=None,
        mutation_rate=0.9, n_jobs=1, offspring_size=None,
        periodic_checkpoint_folder=None, population_size=20,
        random_state=None, scoring=None, subsample=1.0, template=None,
        use_dask=False, verbosity=2, warm_start=False)

In [11]:
acc_tpot = tpot.score(train_features, train_labels)
print(u'score准确率为 %.4lf' % acc_tpot)

tpot.export('tpot_mnist_pipeline.py')

score准确率为 0.9024

## 使用XGbosst模型（tpot方法得到模型）

In [19]:
from xgboost import XGBClassifier

In [20]:
xgb = XGBClassifier(
    learning_rate=0.1, 
    max_depth=7, 
    min_child_weight=3, 
    n_estimators=100, 
    nthread=1, subsample=0.7000000000000001)

# 决策树训练
xgb.fit(train_features, train_labels)

# 得到XGBClassifier准确率(基于训练集)
acc_xgb = round(xgb.score(train_features, train_labels), 6)
print(u'score准确率为 %.4lf' % acc_xgb)

# 使用K折交叉验证 统计决策树准确率
print(u'cross_val_score准确率为 %.4lf' % np.mean(cross_val_score(xgb, train_features, train_labels, cv=10)))

score准确率为 0.9024
cross_val_score准确率为 0.8284

## 使用决策树模型

In [13]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

In [14]:
# 构造ID3决策树
clf = DecisionTreeClassifier(criterion='entropy')
# 决策树训练
clf.fit(train_features, train_labels)

# 得到决策树准确率(基于训练集)
acc_decision_tree = round(clf.score(train_features, train_labels), 6)
print(u'score准确率为 %.4lf' % acc_decision_tree)

# 使用K折交叉验证 统计决策树准确率
print(u'cross_val_score准确率为 %.4lf' % np.mean(cross_val_score(clf, train_features, train_labels, cv=10)))

score准确率为 0.9820
cross_val_score准确率为 0.7836

## 使用支持向量机

In [15]:
from sklearn.svm import SVC

In [18]:
# 构造ID3决策树
svc = SVC()
# 决策树训练
svc.fit(train_features, train_labels)

# 得到SVC准确率(基于训练集)
acc_SVC = round(svc.score(train_features, train_labels), 6)
print(u'score准确率为 %.4lf' % acc_SVC)

# 使用K折交叉验证 统计决策树准确率
print(u'cross_val_score准确率为 %.4lf' % np.mean(cross_val_score(svc, train_features, train_labels, cv=10)))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

score准确率为 0.8900

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

cross_val_score准确率为 0.7264

## 预测

In [22]:
pred_labels = tpot.predict(test_features)

In [26]:
test_data['Survived '] = pred_labels
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,NaN,S,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,NaN,S,0
5,897,3,"Svensson, Mr. Johan Cervin",male,14.00000,0,0,7538,9.2250,NaN,S,0
6,898,3,"Connolly, Miss. Kate",female,30.00000,0,0,330972,7.6292,NaN,Q,1
7,899,2,"Caldwell, Mr. Albert Francis",male,26.00000,1,1,248738,29.0000,NaN,S,0
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00000,0,0,2657,7.2292,NaN,C,1
9,901,3,"Davies, Mr. John Samuel",male,21.00000,2,0,A/4 48871,24.1500,NaN,S,0
10,902,3,"Ilieff, Mr. Ylio",male,30.27259,0,0,349220,7.8958,NaN,S,0
11,903,1,"Jones, Mr. Charles Cresson",male,46.00000,0,0,694,26.0000,NaN,S,0
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00000,1,0,21228,82.2667,B45,S,1
13,905,2,"Howard, Mr. Benjamin",male,63.00000,1,0,24065,26.0000,NaN,S,0
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00000,1,0,W.E.P. 5734,61.1750,E31,S,1
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00000,1,0,SC/PARIS 2167,27.7208,NaN,C,1
16,908,2,"Keane, Mr. Daniel",male,35.00000,0,0,233734,12.3500,NaN,Q,0
17,909,3,"Assaf, Mr. Gerios",male,21.00000,0,0,2692,7.2250,NaN,C,0
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.00000,1,0,STON/O2. 3101270,7.9250,NaN,S,1
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00000,0,0,2696,7.2250,NaN,C,0
20,912,1,"Rothschild, Mr. Martin",male,55.00000,1,0,PC 17603,59.4000,NaN,C,0
21,913,3,"Olsen, Master. Artur Karl",male,9.00000,0,1,C 17368,3.1708,NaN,S,0
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,30.27259,0,0,PC 17598,31.6833,NaN,S,1
23,915,1,"Williams, Mr. Richard Norris II",male,21.00000,0,1,PC 17597,61.3792,NaN,C,1
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00000,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,1
25,917,3,"Robins, Mr. Alexander A",male,50.00000,1,0,A/5. 3337,14.5000,NaN,S,0
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.00000,0,1,113509,61.9792,B36,C,1
27,919,3,"Daher, Mr. Shedid",male,22.50000,0,0,2698,7.2250,NaN,C,0
28,920,1,"Brady, Mr. John Bertram",male,41.00000,0,0,113054,30.5000,A21,S,1
29,921,3,"Samaan, Mr. Elias",male,30.27259,2,0,2662,21.6792,NaN,C,0
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.00000,0,0,364858,7.7500,NaN,Q,0
389,1281,3,"Palsson, Master. Paul Folke",male,6.00000,3,1,349909,21.0750,NaN,S,0
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.00000,0,0,12749,93.5000,B24,S,0
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.00000,0,1,PC 17592,39.4000,D28,S,1
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.00000,0,2,C.A. 2673,20.2500,NaN,S,0
393,1285,2,"Gilbert, Mr. William",male,47.00000,0,0,C.A. 30769,10.5000,NaN,S,0
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.00000,3,1,315153,22.0250,NaN,S,0
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.00000,1,0,13695,60.0000,C31,S,1
396,1288,3,"Colbert, Mr. Patrick",male,24.00000,0,0,371109,7.2500,NaN,Q,0
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.00000,1,1,13567,79.2000,B41,C,1
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.00000,0,0,347065,7.7750,NaN,S,0
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.00000,0,0,21332,7.7333,NaN,Q,0
400,1292,1,"Bonnell, Miss. Caroline",female,30.00000,0,0,36928,164.8667,C7,S,1
401,1293,2,"Gale, Mr. Harry",male,38.00000,1,0,28664,21.0000,NaN,S,0
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.00000,0,1,112378,59.4000,NaN,C,1
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.00000,0,0,113059,47.1000,NaN,S,0
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.00000,1,0,17765,27.7208,D40,C,0
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.00000,0,0,SC/PARIS 2166,13.8625,D38,C,0
406,1298,2,"Ware, Mr. William Jeffery",male,23.00000,1,0,28666,10.5000,NaN,S,0
407,1299,1,"Widener, Mr. George Dunton",male,50.00000,1,1,113503,211.5000,C80,C,0
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,30.27259,0,0,334915,7.7208,NaN,Q,1
409,1301,3,"Peacock, Miss. Treasteall",female,3.00000,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,1
410,1302,3,"Naughton, Miss. Hannah",female,30.27259,0,0,365237,7.7500,NaN,Q,1
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00000,1,0,19928,90.0000,C78,Q,1
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.00000,0,0,347086,7.7750,NaN,S,1
413,1305,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,NaN,S,0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C105,C,1
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0
416,1308,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,NaN,S,0
417,1309,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,NaN,C,0